# OS junk
.DS_Store
Thumbs.db

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
node_modules/
jspm_packages/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Local config
.env
.env.local

# Temp files
temp_item.json
tmp/
temp/
